.hero {
	&__row {
		padding: 64px 0;
	}
}
.banner {
	position: relative;
	padding: 30px;
	padding-left: 50px;
	&__row {
		margin: -15px;
	}
	&__suptitle {
		@include font(12px, 600, 18px);
		margin-top: 48px;
		margin-bottom: 8px;
		color: $color-green;
	}
	&__title {
		@include font(22px, 600, 33px);
		color: $color-white;
	}
	&__link {
		@include font(15px, 600, 22px);
		margin-top: 95px;
		color: $color-white;
		border: 2px solid $color-green;
		border-radius: 12px;
		padding: 12px 16px;
	}
	&__image {
		position: absolute;
		left: 15px;
		top: 15px;
		z-index: -1;
		height: 310px;
		max-width: 440px;
		border-radius: 12px;
		overflow: hidden;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			background-color: rgba(0, 0, 0, 0.7);
			width: 100%;
			height: 100%;
			z-index: 1;
		}
		img {
			min-height: 100%;
		}
	}
}

.product {
	padding: 50px 16px;
	&__row {
		margin: -50px -16px;
	}
	&__item {
		position: relative;
		padding: 16px;
		border-radius: 12px;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	}
	&__image {
		border-radius: 12px;
	}
	&__title {
		@include font(16px, 500, 22px);
		margin: 16px 0 4px;
		color: $color-black;
	}
	&__description {
		@include font(12px, 500, 16px, $font-openSans);
		margin-bottom: 16px;
		color: #575757;
		height: 35px;
		cursor: pointer;
		&.is-active {
			height: auto;
		}
	}

	&__price {
		@include font(18px, 600, 27px);
		color: $color-black;
	}

	&__btn {
		@include font(16px, 700, 22px, $font-openSans);
		padding: 6px 12px;
		background: $color-green;
		border: 2px solid #46760a;
		border-radius: 12px;
		color: $color-white;
	}
	&__flex {
		@include flex-center(space-between);
		position: relative;
	}
	&__old-price {
		display: none;
		position: absolute;
		bottom: -50%;
	}
	&__discount {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
	}
}
