.reviews {
	position: relative;
	z-index: 10;
	padding-bottom: 65px;
	&::before {
		content: "";
		position: absolute;
		left: -20px;
		top: 0;
		z-index: 2;
		height: 100%;
		width: 20px;
		background-color: rgba(255, 255, 255, 0.8);
		box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.8);
	}
	&::after {
		content: "";
		position: absolute;
		right: -20px;
		top: 0;
		z-index: 3;
		height: 100%;
		width: 20px;
		background-color: rgba(255, 255, 255, 0.8);
		box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.8);
	}
	.swiper-container {
		padding: 25px 0;
	}
	.swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		z-index: 10;
		background: #151515 none;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
		border-radius: 12px;
		outline: none;
		&::after {
			content: "";
			background: url("../images/slider-arrow.svg") center no-repeat;
			width: 6px;
			height: 12px;
		}
	}
	.swiper-button-prev {
		left: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.swiper-button-next {
		right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		&::after {
			transform: rotate(180deg);
		}
	}
	&__title {
		@include font(18px, 600, 27px);
		margin-bottom: 40px;
		margin-left: 45px;
		color: #151515;
	}
	&__row {
		flex-wrap: nowrap;
	}
	&__item {
		padding: 24px 32px;
		max-width: 370px;
		text-align: center;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
		border-radius: 12px;
	}
	&__description {
		@include font(16px, 500, 23px);
		color: #151515;
	}
	&__author {
		@include font(12px, 600, 18px);
		margin: 24px 0 16px;
		color: #a9a9a9;
	}
	&__image {
		object-fit: cover;
		width: 48px;
		height: 48px;
		border-radius: 50%;
	}
}
