* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.container {
	max-width: 1260px;
	margin: auto;
}

li {
	list-style: none;
}


a {
	display: inline-block;
	text-decoration: none;
}
span {
	display: inline-block;
}

img {
	max-width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-3 {
	width: 25%;
}
.col-9 {
	width: 75%;
}
